# This is Git's per-user configuration file.
[user]
	name = Martin Obert
	email = martin@pulecka.dev
[alias]
	logadog = log --all --decorate --oneline --graph
    pushup = push --set-upstream origin HEAD
    please = push --force-with-lease
